.card-list{
    width : 85vw;
    margin : 0 auto;
    display : grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
    grid-gap: 20px;
    grid-template-rows: auto;
    /* border : 1px solid black; */
}